[client]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4

[mysqld]
character-set-server = utf8mb4
collation-server = utf8mb4_general_ci
max_connections=1000
transaction-isolation = READ-COMMITTED
sql-mode=""
query_cache_size = 268435456
query_cache_type=1
query_cache_limit=1048576